/**
 * Settings variables.
 */
@use "sass:math";

$base-width-max-width: 54rem;
$base-width-side-margin: 2rem;

/* colors */
$color-black: #000;
$color-white: #FFF;
$color-red-digit: red;
$color-brown-wood: #98390c;
$color-orange-bulb: #f99020;
$color-metallic: #A8A9AD;

/* font-sizes */
$font-size-90: 1.4rem;
$font-size-100: 1.8rem;
$font-size-110: 4rem;

/* settings */
$transition-duration-default-in: .3s;
$transition-duration-default-out: .8s;
$lc-shadow: drop-shadow(0px 0px 2px rgba(black, 0.1)) drop-shadow(2px 2px 2px rgba(black, 0.2));
$plate-shadow: inset 0 0 5px rgba(black, .3), inset 4px 4px 5px rgba(black, .4);
$instrument-shadow: 5px -2px 6px rgba(black, .2), 2px 4px 2px rgba(black, .4);
$disabled-opacity: .1;

