/**
 * clock-plate bem module
 */

$clock-plate-dot-size: 1rem;
$clock-plate-dot-color: $color-red-digit !default;
$clock-plate-color: darkgrey !default;

:root {
    --clock-plate-radio-delay: 4s;
}

.clock-plate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 1rem 3rem;
    background-color: $clock-plate-color;
    box-shadow: $plate-shadow;

    &__info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 0 0 100%;
        margin-bottom: 2rem;
        align-self: flex-start;
    }

    &__radio-info-item {
        align-items: center;
        display: flex;
        filter: $lc-shadow;
    }

    &__radio-info-item--radio,
    &__radio-info-item--alarm {
        animation-name: radio-on;
        animation-timing-function: step-end;
        animation-delay: var(--clock-plate-radio-delay);
        animation-fill-mode: both;
    }

    &__radio-info-item--frequencies {
        display: flex;
        margin-left: 2rem;
        text-decoration: underline;
    }

    &__radio-info-item--alarm {
        margin-left: auto;
    }

    &__alarm-bell {
        position: relative;
        width: 1rem;
        height: 1.2rem;
        margin-left: 1rem;
        border-radius: 1rem 1rem 0 0 / 1.2rem 1.2rem 0 0;
        background-color: black;
        transform: rotate(30deg);

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            margin: auto;
            background-color: black;
        }

        &::before {
            top: 0;
            left: 50%;
            width: .4rem;
            height: .4rem;
            border-radius: 50%;
            transform: translate(-50%, -50%);
        }

        &::after {
            bottom: 0;
            left: 50%;
            width: calc(100% + 4px);
            height: 4px;
            border-radius: 2px;
            transform: translateX(-50%);
        }
    }

    &__alarm-wave {
        position: relative;
        width: 2rem;
        height: 2rem;
        animation-name: blink;
        animation-timing-function: step-end;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-delay: var(--clock-plate-radio-delay);
        animation-duration: 2s;

        &,
        &::before,
        &::after {
            border-left: 2px solid black;
            border-radius: 50%;
        }

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

        &::before {
            width: 1.4rem;
            height: 1.4rem;
        }

        &::after {
            width: .8rem;
            height: .8rem;
        }
    }

    &__radio-info-text {
        margin-left: .6rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__radio-info-text--disabled {
        opacity: $disabled-opacity;
    }

    &__radio-info-text--fm {
        animation-name: radio-on;
        animation-timing-function: step-end;
        animation-delay: calc(var(--clock-plate-radio-delay) + 1.4s);
        animation-fill-mode: both;
    }

    &__space--seconds {
        margin-top: calc(var(--digit-face-size) * -1);
    }

    &__space + &__space {
        margin-left: 4rem;

        @include media-mobile {
            margin-left: .8rem;
        }
    }

    &__space + &__space--seconds {
        margin-left: 2rem;

        @include media-mobile {
            margin-left: 1.4rem;
        }
    }

    &__space--seconds + &__space--seconds {
        margin-left: .8rem;
    }

    &__dots {
        margin-right: 2rem;
        margin-left: 2rem;

        @include media-mobile {
            margin-right: .8rem;
            margin-left: .8rem;
        }
    }

    &__dot {
        content: '';
        display: block;
        width: var(--digit-face-stroke-width);
        height: var(--digit-face-stroke-width);
        background-color: $clock-plate-dot-color;
        filter: $lc-shadow;
    }

    &__dot + &__dot {
        margin-top: 3rem;
    }

    &__dot--time {
        animation-name: blink;
        animation-timing-function: step-end;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-delay: var(--clock-plate-radio-delay);
        animation-duration: 2s;
    }
}

@keyframes radio-on {
    from {
        opacity: $disabled-opacity;
    }

    to {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: $disabled-opacity;
    }

    50%, 100% {
        opacity: 1;
    }
}
