/**
 * loading-radio bem module
 */

$loading-radio-h-size: 40rem;
$loading-radio-v-size: 16rem;

.loading-radio {
    padding: 3rem;
    background-color: $color-brown-wood;

    &__front-plate {
        display: flex;
        width: $loading-radio-h-size;
        height: $loading-radio-v-size;
        border: 1rem solid black;
    }
}
