/**
 * loading-radio bem module
 */

$loading-radio-h-size: 40rem;
$loading-radio-v-size: 16rem;

.loading-radio {
    position: relative;
    display: flex;
    align-items: flex-start;
    max-width: 90%;
    padding: 3rem;
    border-radius: 1rem;
    border: 1rem solid scale-color($color-brown-wood, $lightness: -50%);
    background-color: $color-brown-wood;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        width: 8rem;
        height: 2rem;
        margin-top: 1rem;
        background-color: $color-metallic;
        border-bottom: .4rem solid black;
        border-bottom-right-radius: .4rem;
        border-bottom-left-radius: .4rem;
    }

    &::before {
        left: 2rem;
    }

    &::after {
        right: 2rem;
    }

    &__front-plate,
    &__side-plate {
        border: 1rem solid black;
        border-radius: $panel-radius;
    }

    &__front-plate {
        display: flex;
    }

    &__side-plate {
        margin-left: 2rem;
    }
}
